<div class="container">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p>Email: <%= @user.email %></p>


  <% if @user.shirts.any? %>
    <h3>Camisas compradas</h3>
    <ul>
      <% @user.shirts.each do |shirt| %>
        <li>
          <%= shirt.name %> - RS <%= shirt.price %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No shirts for sale yet.</p>
  <% end %>
</div>
