<div class="row">
  <% @shirts.each do |shirt| %>
    <% unless shirt.sold %>
      <div class="col-md-4 col-sm-6 col-lg-3">
        <div class="card mb-4">
          <%= link_to shirt, style: 'text-decoration: none; color: inherit;' do %>
            <% if shirt.photos.attached? %>
              <% shirt.photos.each do |photo| %>
                <%= image_tag url_for(photo), height: 180, width: 180, crop: :fill, class: 'card-img-top' %>
              <% end %>
            <% else %>
              <%= image_tag 'default-foto.jpg', height: 180, width: 180, crop: :fill, class: 'card-img-top' %>
            <% end %>
            <div class="card-body">
              <p class="name"><%= shirt.name %></p>
              <p class="price">R$ <%= shirt.price %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
