<p style="color: green"><%= notice %></p>

<div class="Homepage">
  <h2>Shop now</h2>
    <%= render 'list', shirts: @shirts %>
  <%= link_to "Insert new shirt", new_shirt_path %>
  <% if current_user %>
  <%= link_to "View My Profile", user_path(current_user.id) %>
  <% end %>
</div>

<%= link_to "Insert new shirt", new_shirt_path, class: "btn btn-primary" %>
