<p style="color: green"><%= notice %></p>

<%= form_with url: shirts_path, method: :get, local: true do %>
  <%= label_tag :query, "Search for a shirt:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<h3>Shop now</h3>

<%= render 'list', shirts: @shirts %>

<% @shirts.each do |shirt| %>
<% end %>

<%= link_to "Insert new shirt", new_shirt_path %>


<% if current_user %>
  <%= link_to "View My Profile", user_path(current_user.id) %>
<% end %>
