<p style="color: green"><%= notice %></p>

<%= form_with url: shirts_path, method: :get, local: true do |form| %>
  </div>
  <div class="form-group">
    <%= form.select :country, options_for_select(["All Countries", "Brasil", "Espanha", "Inglaterra", "Italia", "Other Countries"], params[:country]), prompt: "Select Country", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.select :size, options_for_select(["All Sizes", "PP", "P", "M", "G", "GG"], params[:size]), prompt: "Select Size", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.select :team, options_for_select(["All Teams", "Cruzeiro", "Flamengo", "Vasco", "Corinthians", "Barcelona", "Real Madrid", "Manchester", "Juventus", "Other Teams"], params[:team]), prompt: "Select Team", class: "form-control" %>
  </div>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>
<div class="Homepage">
  <%= render 'list', shirts: @shirts %>
  <%= link_to "Insert new shirt", new_shirt_path, class: "btn btn-primary" %>
</div>
