<p style="color: green"><%= notice %></p>

<%= form_with url: shirts_path, method: :get, local: true do %>
  <%= label_tag :query, "Search for a shirt:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<div class="Homepage">
  <h2>Shop now</h2>
    <%= render 'list', shirts: @shirts %>
  <%= link_to "Insert new shirt", new_shirt_path %>
</div>
