<% if @shirt %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex flex-column align-items-center">
        <% if @shirt.photos.attached? %>
          <% @shirt.photos.each do |photo| %>
            <%= image_tag url_for(photo), class: "img-fluid mb-3", style: "max-height: 500px;" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-center text-center">
        <!-- Render Shirt details in the center -->
        <%= render partial: 'shirt', locals: { shirt: @shirt }, class: "mb-3" %>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-between">
        <div class="text-center">
          <!-- Buy button -->
          <%= link_to checkout_orders_path(shirt_id: @shirt.id), class: "btn btn-success btn-block mb-3" do %>
            <i class="fas fa-shopping-cart"></i> Buy
          <% end %>
          <% if current_user == @shirt.user %>
            <!-- Edit shirt link -->
            <%= link_to edit_shirt_path(@shirt), class: "btn btn-secondary btn-block mb-3" do %>
              <i class="fas fa-edit"></i> Edit
            <% end %>
            <!-- Delete shirt button with icon -->
            <%= link_to shirt_path(@shirt), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-block mb-3" do %>
              <i class="fas fa-trash-alt"></i> Delete
            <% end %>
          <% end %>
        </div>
        <%= link_to "Back to shirts", shirts_path, class: "btn btn-info btn-block mt-3" %>
      </div>
    </div>
  </div>
<% else %>
  <p>Shirt not found</p>
<% end %>
