<p style="color: green"><%= notice %></p>

<% if @shirt %>
  <%= render partial: 'shirt', locals: { shirt: @shirt } %>
  <!-- Add the button here -->
  <%= link_to "comprar", checkout_orders_path(shirt_id: @shirt.id, price: @shirt.price), class: "btn btn-primary" %>
  <% else %>
  <p>Shirt not found</p>
<% end %><br>

<br><%= button_to "Edit this shirt", @shirt, method: :update, class: "btn btn-warning"%><br>

<%= button_to "Delete this shirt", @shirt, method: :delete %>
