
<!DOCTYPE html>
<html>
  <head>
    <title>FutWear</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <!-- Banner -->
    <%= render "shared/banner" %>

      <!-- Main Content -->
      <div class="container">
        <%= yield %>

      <!-- Flash Messages -->
      <%= render "shared/flashes" %>

    </div>
    <%= render "shared/footer" %>

  </body>
</html>
